<head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <body>
    <h2 align="center">新用户注册</h2>
        <form class="register_form" align="center" action="/register/" method="POST">
            <input type="text" name="username" placeholder="username" value="{{ username }}"/>
            <br>
            <input type="password" name="password" placeholder="password"/>
            <br>
            <input type="password" name="re_password" placeholder="password"/>
            <br>
            <input type="submit" value="注册" />
        </form>
        <div class="" align='center'>
            {% if error %}<p>{{ error }}</p>{% endif %}
        </div>
    </body>
</head>
</html>
